.slider-section {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  z-index: 5;
  position: relative; /*  outside container */
}
/*style slider track*/
#banana-slider {
  width: 80%;
  max-width: 400px;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

/* The slider itself */
#banana-slider::-webkit-slider-thumb {  
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 30px; 
  height: 30px; /* Specified height */
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#banana-slider::-webkit-slider-thumb::before {
  content: "🍌";
  position: absolute;
  top: -10px;
  left: 0;
}

#banana-slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height:30px; /* Slider handle height */
  background: transparent; 
  cursor: pointer; /* Cursor on hover */
  font-size: 24px;
  border: none;
  border-radius: 0;
}
